body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
    background-image: url('./images/logflowai_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    background-color: #add8e6;  /* Light blue color */
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 20px auto;
}

h1, h2 {
    color: #333;
}

.data-section, .summary-section, .plots-section, .info-section {
    margin-bottom: 20px;
}

#data-entry {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}
